.vscode/**
.github/**
.git/**
.agents/**
.codex/**
.margin/**
src/**
tsconfig.json
package-lock.json
flake.nix
flake.lock
.gitignore
.npmignore
.vscodeignore
result
result-*
node_modules/**
npm-debug.log
